<!--Site Footer One Start-->
<footer class="site-footer">
    <div class="site-footer-shape wow slideInRight" data-wow-delay="100ms" data-wow-duration="3500ms"
        style="background-image: url(assets/images/shapes/footer-shape.png)"></div>
    <div class="container">
        <div class="site-footer__top">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                    <div class="footer-widget__column footer-widget__about">
                        <div class="footer-widget__about-logo">
                            <a href="index.html"><img src="assets/images/logo-only.png" alt="" height="100px"></a>
                        </div>
                        <!-- <p class="footer-widget__text">Welcome to our consultancy agency. Lore ipsum simply text
                            amet cing elit.</p> -->
                        <ul class="list-unstyled footer-widget__contact-list">
                            <li>
                                <div class="icon">
                                    <i class="fas fa-phone-square-alt"></i>
                                </div>
                                <div class="text">
                                    <p><a href="tel:+44 07450 158606">+44 07450 158606</a></p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="text">
                                    <p><a href="mailto:info@fivercast.com">info@fivercast.com</a></p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <div class="text">
                                    <p>37 Vale Crescent Road, Reading</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                  </div>

                <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                    <div class="footer-widget__column footer-widget__explore clearfix">
                        <h3 class="footer-widget__title">Explore</h3>
                        <ul class="footer-widget__explore-list list-unstyled">
                            <li><a href="home">Home</a></li>
                            <li><a href="about">About</a></li>
                            <li><a href="book">Book Staff</a></li>
                            <li><a href="career">Career</a></li>
                            <li><a href="contact">Contact</a></li>
                        </ul>
                        <!-- <ul class="footer-widget__explore-list footer-widget__explore-list-two list-unstyled">
                            <li><a href="contact.html">Support</a></li>
                            <li><a href="faq.html">Terms of use</a></li>
                            <li><a href="about.html">Privacy policy</a></li>
                            <li><a href="faq.html">Help</a></li>
                        </ul> -->
                    </div>
                </div>
                <!-- <div class="col-xl-5 col-lg-6 col-md-8 wow fadeInUp" data-wow-delay="400ms">
                    <div class="footer-widget__column footer-widget__newsletter">
                        <h3 class="footer-widget__title footer-widget__title-news">Newsletter</h3>
                        <form class="footer-widget__newsletter-form">
                            <p class="footer-widget__newsletter-text">Subsrcibe for latest articles and
                                resources</p>
                            <div class="footer-widget__newsletter-input-box">
                                <input type="email" placeholder="Email address" name="email">
                                <button type="submit" class="footer-widget__newsletter-btn">Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="site-footer-bottom">
            <div class="row">
                <div class="col-xl-12">
                    <div class="site-footer-bottom__inner">
                        <div class="site-footer-bottom__left">
                            <p>© Copyright {{anio}} by Fivercast</p>
                        </div>
                        <div class="site-footer__social">
                            <a href="https://www.linkedin.com/company/fivercast" class="clr-dri" target="blank_"><i class="fab fa-linkedin"></i></a>
                            <a href="https://www.instagram.com/fivercast/" target="blank_" class="clr-ins" target="blank_"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--Site Footer One End-->
