<header class="main-header clearfix">
    <nav class="main-menu clearfix">
        <div class="main-menu-wrapper">
            <div class="main-menu-wrapper__left">
                <div class="main-menu-wrapper__logo">
                    <a href="home"><img src="assets/images/rsz_logo-only.png" alt="" ></a>
                </div>
                <div class="main-menu-wrapper__main-menu">
                    <a href="#" class="mobile-nav__toggler">
                        <span class="mobile-nav__toggler-bar"></span>
                        <span class="mobile-nav__toggler-bar"></span>
                        <span class="mobile-nav__toggler-bar"></span>
                    </a>
                    <ul class="main-menu__list">
                        <li><a href="home">Home</a></li>
                        <li><a href="about">About</a></li>
                        <li><a href="book">Book Staff</a></li>
                        <li><a href="career">Career</a></li>
                        <li><a href="contact">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="main-menu-wrapper__right">
                <div class="main-menu-wrapper__social-box">
                    <div class="main-menu-wrapper__social">
                        <a href="https://www.linkedin.com/company/lifeline-recruitment" class="clr-dri" target="blank_"><i class="fab fa-linkedin"></i></a>
                        <a href="https://www.instagram.com/lifelinerecuitment21/" target="blank_"  class="clr-ins"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="main-menu-wrapper__search-box">
                    <a href="#" class="main-menu-wrapper__search search-toggler icon-magnifying-glass1"></a>
                </div>
                <div class="main-menu-wrapper__phone-contact">
                    <p>Need help? Talk to us</p>
                    <a href="tel:+44 07450 158606">+44 07450 158606 </a>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="stricky-header stricked-menu main-menu">
    <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
</div><!-- /.stricky-header -->
