<!--Page Header Start-->
<section class="page-header">
    <!-- <div class="page-header__bg"></div> -->
    <!-- /.page-header__bg -->
    <div class="page-header-shape-1"></div><!-- /.page-header-shape-1 -->
    <div class="page-header-shape-2"></div><!-- /.page-header-shape-2 -->
    <div class="page-header-shape-3"></div><!-- /.page-header-shape-3 -->
    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled">
                <li><a href="index.html">Home</a></li>
                <li><span>/</span></li>
                <li>Contact</li>
            </ul>
            <h2>Contact</h2>
        </div>
    </div>
</section>
<!--Page Header End-->

<!--Message Box Start-->
<section class="message-box">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-5">
                <div class="message-box__left">
                    <div class="section-title text-left">
                        <h2 class="section-title__title">get in touch with our team</h2>
                        <!-- <span class="section-title__tagline">Trusted by more than 4,200 customers</span> -->
                    </div>
                    <div class="message-box__social">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="clr-fb"><i class="fab fa-facebook"></i></a>
                        <a href="#" class="clr-dri"><i class="fab fa-dribbble"></i></a>
                        <a href="#" class="clr-ins"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-7">
                <div class="message-box__right">
                    <form *ngIf="!bookingSuccess" class="comment-one__form "
                        [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="comment-form__input-box">
                                    <input type="text" placeholder="Your name*" name="full_name" formControlName="full_name">
                                    <div class="comment-form__icon">
                                        <i class="far fa-user-circle"></i>
                                    </div>
                                    <div *ngIf="submitted && c.full_name.errors" class=" mb-2">
                                      <div *ngIf="c.full_name.errors.required">Name is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="comment-form__input-box">
                                    <input type="email" placeholder="Email Address*" name="email" formControlName="email">
                                    <div class="comment-form__icon">
                                        <i class="far fa-envelope"></i>
                                    </div>
                                    <div *ngIf="submitted && c.full_name.errors" class=" mb-2">
                                      <div *ngIf="c.email.errors.required">Email is required</div>
                                      <div *ngIf="c.email.errors.pattern">Email must be valid</div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                              <div class="comment-form__input-box">
                                  <input type="text" placeholder="Subject*" name="subject" formControlName="subject">
                                  <div class="comment-form__icon">
                                      <i class="far fa-sticky-note"></i>
                                  </div>
                              </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="comment-form__input-box">
                                    <textarea name="message" placeholder="Write Message*" formControlName="message"></textarea>
                                    <div class="comment-form__icon contact-expert__icon-comment">
                                        <i class="far fa-comment"></i>
                                    </div>
                                </div>
                                <button type="submit" class="thm-btn comment-form__btn">Send a message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Message Box End-->

<!--Locations Start-->
<section class="locations">
    <div class="container">
        <div class="location__inner">
            <div class="section-title text-center">
                <h2 class="section-title__title">Offices near you</h2>
                <span class="section-title__tagline">Our offices around the globe as of now</span>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp text-center" data-wow-delay="0ms"
                    data-wow-duration="1500ms">
                    </div>
                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp text-center" data-wow-delay="0ms"
                    data-wow-duration="1500ms">
                    <!--Locations Single-->
                    <div class="locations__single">
                        <h3 class="locations__title">Reading</h3>
                        <p class="locations__text">37 Vale Crescent Road</p>
                        <h4 class="locations__mail-phone-box">
                            <a href="mailto:contact@lifelinerecruitment.com" class="locations__mail">contact@lifelinerecruitment.com</a>
                            <a href="tel:888-999-0000" class="locations__phone">+44 07450 158606</a>
                        </h4>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp text-center" data-wow-delay="0ms"
                    data-wow-duration="1500ms">
                    </div>


            </div>
        </div>
    </div>
</section>
<!--Locations End-->

<!--Contact Page Google Map Start-->
<section class="google-map">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2485.716847888219!2d-1.0314326840082326!3d51.46335497962798!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48769b839d4c442f%3A0x493e65f73377180e!2sLifeline%20Recruitment!5e0!3m2!1sen!2suk!4v1641592141492!5m2!1sen!2suk"
       class="google-map__one" allowfullscreen></iframe>

</section>
<!--Contact Page Google Map End-->
