<!--Testimonials One Start-->
<section class="testimonials-one">
  <div class="container">
      <div class="row">
          <div class="col-xl-4">
              <div class="testimonials-one__left">
                  <div class="section-title text-left">
                      <h2 class="section-title__title">What they are talking About</h2>
                      <!-- <span class="section-title__tagline">Trusted by more than 4,200 customers</span> -->
                  </div>
              </div>
          </div>
          <div class="col-xl-8">
              <div class="testimonials-one__right">
                  <div class="testimonials-one__carousel owl-theme owl-carousel">
                      <!--Testimonials One Single-->
                      <div class="testimonials-one__single">
                          <p class="testimonials-one__text">Lorem ipsum is simply free text dolor sit
                              amet, consectetur notted adipisicing elit sed do eiusmod tempor incididunt
                              ut labore et dolore magna aliqua.</p>
                          <div class="testimonials-one__client-info">
                              <h5 class="testimonials-one__client-name">Sallie Sherman</h5>
                              <p class="testimonials-one__client-title">Customer</p>
                          </div>
                          <div class="testimonials-one__client-img">
                              <img src="assets/images/testimonial/testimonials-1-1.png" alt="">
                          </div>
                          <div class="testimonials-one__quote"></div>
                      </div>
                      <!--Testimonials One Single-->
                      <div class="testimonials-one__single">
                          <p class="testimonials-one__text">Lorem ipsum is simply free text dolor sit
                              amet, consectetur notted adipisicing elit sed do eiusmod tempor incididunt
                              ut labore et dolore magna aliqua.</p>
                          <div class="testimonials-one__client-info">
                              <h5 class="testimonials-one__client-name">Sallie Simon</h5>
                              <p class="testimonials-one__client-title">Customer</p>
                          </div>
                          <div class="testimonials-one__client-img">
                              <img src="assets/images/testimonial/testimonials-1-2.png" alt="">
                          </div>
                          <div class="testimonials-one__quote"></div>
                      </div>
                      <!--Testimonials One Single-->
                      <div class="testimonials-one__single">
                          <p class="testimonials-one__text">Lorem ipsum is simply free text dolor sit
                              amet, consectetur notted adipisicing elit sed do eiusmod tempor incididunt
                              ut labore et dolore magna aliqua.</p>
                          <div class="testimonials-one__client-info">
                              <h5 class="testimonials-one__client-name">Catherine Olson</h5>
                              <p class="testimonials-one__client-title">Customer</p>
                          </div>
                          <div class="testimonials-one__client-img">
                              <img src="assets/images/testimonial/testimonials-1-1.png" alt="">
                          </div>
                          <div class="testimonials-one__quote"></div>
                      </div>
                      <!--Testimonials One Single-->
                      <div class="testimonials-one__single">
                          <p class="testimonials-one__text">Lorem ipsum is simply free text dolor sit
                              amet, consectetur notted adipisicing elit sed do eiusmod tempor incididunt
                              ut labore et dolore magna aliqua.</p>
                          <div class="testimonials-one__client-info">
                              <h5 class="testimonials-one__client-name">Emily Mendez</h5>
                              <p class="testimonials-one__client-title">Customer</p>
                          </div>
                          <div class="testimonials-one__client-img">
                              <img src="assets/images/testimonial/testimonials-1-2.png" alt="">
                          </div>
                          <div class="testimonials-one__quote"></div>
                      </div>
                      <!--Testimonials One Single-->
                      <div class="testimonials-one__single">
                          <p class="testimonials-one__text">Lorem ipsum is simply free text dolor sit
                              amet, consectetur notted adipisicing elit sed do eiusmod tempor incididunt
                              ut labore et dolore magna aliqua.</p>
                          <div class="testimonials-one__client-info">
                              <h5 class="testimonials-one__client-name">Christian Nunez</h5>
                              <p class="testimonials-one__client-title">Customer</p>
                          </div>
                          <div class="testimonials-one__client-img">
                              <img src="assets/images/testimonial/testimonials-1-1.png" alt="">
                          </div>
                          <div class="testimonials-one__quote"></div>
                      </div>
                      <!--Testimonials One Single-->
                      <div class="testimonials-one__single">
                          <p class="testimonials-one__text">Lorem ipsum is simply free text dolor sit
                              amet, consectetur notted adipisicing elit sed do eiusmod tempor incididunt
                              ut labore et dolore magna aliqua.</p>
                          <div class="testimonials-one__client-info">
                              <h5 class="testimonials-one__client-name">Donald Woods</h5>
                              <p class="testimonials-one__client-title">Customer</p>
                          </div>
                          <div class="testimonials-one__client-img">
                              <img src="assets/images/testimonial/testimonials-1-2.png" alt="">
                          </div>
                          <div class="testimonials-one__quote"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!--Testimonials One End-->
