<!--Page Header Start-->
<section class="page-header">
    <div class="page-header__bg"></div><!-- /.page-header__bg -->
    <div class="page-header-shape-1"></div><!-- /.page-header-shape-1 -->
    <div class="page-header-shape-2"></div><!-- /.page-header-shape-2 -->
    <div class="page-header-shape-3"></div><!-- /.page-header-shape-3 -->

    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled">
                <li><a href="index.html">Home</a></li>
                <li><span>/</span></li>
                <li>About</li>
            </ul>
            <h2>Career</h2>
        </div>
    </div>
</section>
<!--Page Header End-->

<!--News One Start-->
<section class="news-one news-one__page">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0ms"
                data-wow-duration="1500ms">
                <!--News One Single-->
                <div class="news-one__single">
                    <div class="news-one__img">
                        <img src="assets/images/blog/news-page-1.jpg" alt="">
                        <a href="blog-details.html">
                            <span class="news-one__plus"></span>
                        </a>
                    </div>
                    <div class="news-one__content">
                        <ul class="list-unstyled news-one__meta">
                            <li><a href="#"><i class="far fa-user-circle"></i> by Admin</a></li>
                            <li><span>/</span></li>
                            <li><a href="#"><i class="far fa-comments"></i> 2 Comments</a>
                            </li>
                        </ul>
                        <h3 class="news-one__title">
                            <a href="blog-details.html">business advice for growth</a>
                        </h3>
                        <p class="news-one__text">Aellentesque porttitor lacus quis enim varius sed efficitur
                            turpis gilla sed sit amet.</p>
                        <a href="blog-details.html" class="news-one__btn">Read More</a>
                        <div class="news-one__date-box">
                            <p>26 mar</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms"
                data-wow-duration="1500ms">
                <!--News One Single-->
                <div class="news-one__single">
                    <div class="news-one__img">
                        <img src="assets/images/blog/news-page-2.jpg" alt="">
                        <a href="blog-details.html">
                            <span class="news-one__plus"></span>
                        </a>
                    </div>
                    <div class="news-one__content">
                        <ul class="list-unstyled news-one__meta">
                            <li><a href="#"><i class="far fa-user-circle"></i> by Admin</a></li>
                            <li><span>/</span></li>
                            <li><a href="#"><i class="far fa-comments"></i> 2 Comments</a>
                            </li>
                        </ul>
                        <h3 class="news-one__title">
                            <a href="blog-details.html">Metrics mission skills.</a>
                        </h3>
                        <p class="news-one__text">Aellentesque porttitor lacus quis enim varius sed efficitur
                            turpis gilla sed sit amet.</p>
                        <a href="blog-details.html" class="news-one__btn">Read More</a>
                        <div class="news-one__date-box">
                            <p>26 mar</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms"
                data-wow-duration="1500ms">
                <!--News One Single-->
                <div class="news-one__single">
                    <div class="news-one__img">
                        <img src="assets/images/blog/news-page-3.jpg" alt="">
                        <a href="blog-details.html">
                            <span class="news-one__plus"></span>
                        </a>
                    </div>
                    <div class="news-one__content">
                        <ul class="list-unstyled news-one__meta">
                            <li><a href="#"><i class="far fa-user-circle"></i> by Admin</a></li>
                            <li><span>/</span></li>
                            <li><a href="#"><i class="far fa-comments"></i> 2 Comments</a>
                            </li>
                        </ul>
                        <h3 class="news-one__title">
                            <a href="blog-details.html">solutions total link parallel</a>
                        </h3>
                        <p class="news-one__text">Aellentesque porttitor lacus quis enim varius sed efficitur
                            turpis gilla sed sit amet.</p>
                        <a href="blog-details.html" class="news-one__btn">Read More</a>
                        <div class="news-one__date-box">
                            <p>26 mar</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms"
                data-wow-duration="1500ms">
                <!--News One Single-->
                <div class="news-one__single">
                    <div class="news-one__img">
                        <img src="assets/images/blog/news-page-4.jpg" alt="">
                        <a href="blog-details.html">
                            <span class="news-one__plus"></span>
                        </a>
                    </div>
                    <div class="news-one__content">
                        <ul class="list-unstyled news-one__meta">
                            <li><a href="#"><i class="far fa-user-circle"></i> by Admin</a></li>
                            <li><span>/</span></li>
                            <li><a href="#"><i class="far fa-comments"></i> 2 Comments</a>
                            </li>
                        </ul>
                        <h3 class="news-one__title">
                            <a href="blog-details.html">quality models Object enable</a>
                        </h3>
                        <p class="news-one__text">Aellentesque porttitor lacus quis enim varius sed efficitur
                            turpis gilla sed sit amet.</p>
                        <a href="blog-details.html" class="news-one__btn">Read More</a>
                        <div class="news-one__date-box">
                            <p>26 mar</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms"
                data-wow-duration="1500ms">
                <!--News One Single-->
                <div class="news-one__single">
                    <div class="news-one__img">
                        <img src="assets/images/blog/news-page-5.jpg" alt="">
                        <a href="blog-details.html">
                            <span class="news-one__plus"></span>
                        </a>
                    </div>
                    <div class="news-one__content">
                        <ul class="list-unstyled news-one__meta">
                            <li><a href="#"><i class="far fa-user-circle"></i> by Admin</a></li>
                            <li><span>/</span></li>
                            <li><a href="#"><i class="far fa-comments"></i> 2 Comments</a>
                            </li>
                        </ul>
                        <h3 class="news-one__title">
                            <a href="blog-details.html">unique vortals with strategy</a>
                        </h3>
                        <p class="news-one__text">Aellentesque porttitor lacus quis enim varius sed efficitur
                            turpis gilla sed sit amet.</p>
                        <a href="blog-details.html" class="news-one__btn">Read More</a>
                        <div class="news-one__date-box">
                            <p>26 mar</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="500ms"
                data-wow-duration="1500ms">
                <!--News One Single-->
                <div class="news-one__single">
                    <div class="news-one__img">
                        <img src="assets/images/blog/news-page-6.jpg" alt="">
                        <a href="blog-details.html">
                            <span class="news-one__plus"></span>
                        </a>
                    </div>
                    <div class="news-one__content">
                        <ul class="list-unstyled news-one__meta">
                            <li><a href="#"><i class="far fa-user-circle"></i> by Admin</a></li>
                            <li><span>/</span></li>
                            <li><a href="#"><i class="far fa-comments"></i> 2 Comments</a>
                            </li>
                        </ul>
                        <h3 class="news-one__title">
                            <a href="blog-details.html">para digms morph global </a>
                        </h3>
                        <p class="news-one__text">Aellentesque porttitor lacus quis enim varius sed efficitur
                            turpis gilla sed sit amet.</p>
                        <a href="blog-details.html" class="news-one__btn">Read More</a>
                        <div class="news-one__date-box">
                            <p>26 mar</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="news-one__more text-center">
            <a href="blog.html" class="thm-btn">Load More</a>
        </div><!-- /.news-one__more text-center -->
    </div>
</section>
<!--News One End-->
