
/* #tnc {  display: flex;
justify-content: space-between;
} */
/* #tnc1 {padding-left : 20px; float:left;} */
[type="checkbox"]
{
  vertical-align:middle;
}

.btn-danger{
  background-color: #ff4444 ;
}

.right{
  text-align: right;
}

.bb{
  border-bottom: .2px solid;
  margin:0px auto 20px;
  width:25%;
  text-align:center;

}

.mb{
  margin-bottom: 15px;
}

.add-btn, .rmv-btn{
  padding:5px 10px;
  border-radius: 5px;

}

.row{
  position: relative;

}

.firstcol{
  display: block;
}

@media (max-width: 1200px) {
  .bb{
    /* border-bottom: .2px solid;
    margin:-15px auto 20px; */
    width:90%;
    /* text-align:center; */

  }


}

button:disabled,
button[disabled]{
  /* border: 1px solid #999999; */
  background-color: #cccccc;
  color: #666666;
}


