<!--Page Header Start-->
<section class="page-header">
  <div class="container">
    <div class="page-header__inner">
      <ul class="thm-breadcrumb list-unstyled">
        <!-- <li><a href="index.html">Booking</a></li> -->
        <!-- <li><span>/</span></li> -->
        <li>Job Application</li>
      </ul>
      <h2>Career</h2>
    </div>
  </div>
</section>
<!--Page Header End-->

<!--Message Box Start-->
<section class="message-box">
  <div class="container">

    <div class="row">
      <!-- <div class="col-xl-4 col-lg-5">
      <div class="message-box__left">
      <div class="section-title text-left">
      <h2 class="section-title__title">get in touch with our team</h2>
    </div>
    <div class="message-box__social">
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#" class="clr-fb"><i class="fab fa-facebook"></i></a>
    <a href="#" class="clr-dri"><i class="fab fa-dribbble"></i></a>
    <a href="#" class="clr-ins"><i class="fab fa-instagram"></i></a>
  </div>
</div>
</div> -->
<div class="col-xl-12 col-lg-12">
  <div class="message-box__right">
    <div *ngIf="bookingSuccess">
      Applied for vacancy successfully.
    </div>
    <form *ngIf="!jobSuccess" class="comment-one__form contact-form-validated"
    [formGroup]="jobForm" (ngSubmit)="onSubmit()">

    <!-- Personal Detail -->
    Personal Details*
    <div class="row">
      <div class="col-xl-6">
        <div class="comment-form__input-box">
          <!-- <label for="power">Personal Details</label> -->

          <input type="text" placeholder="Full Name" name="full_name" formControlName="full_name">
          <div class="comment-form__icon">
            <i class="far fa-user-circle"></i>
          </div>
        </div>
      </div>
      <div class="col-xl-6">

        <div class="comment-form__input-box">
          <select formControlName="staff_id" >
            <option value="" hidden disabled selected>No. of days available per week </option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>

            <!-- <input type="date" placeholder="Choose Date" name="date"> -->
            <div class="comment-form__icon">
              <i class="far fa-chevron-down"></i>
            </div>
          </select>

        </div>
      </div>

    </div>
    <!-- End of Personal Detail -->


    <!-- Organization Details -->
    Organization Details*
    <div class="row">
      <div class="col-xl-6">

        <div class="comment-form__input-box">
          <input type="text" placeholder="Contact" formControlName="contact">
          <div class="comment-form__icon">
            <i class="far fa-envelope"></i>
          </div>
        </div>
      </div>

      <div class="col-xl-6">

        <div class="comment-form__input-box">
          <input type="email" placeholder="Email Address" formControlName="email">
          <div class="comment-form__icon">
            <i class="far fa-envelope"></i>
          </div>
        </div>
      </div>
    </div>

    <!-- Organization Details -->
    Organization Details*
    <div class="row">
      <div class="col-xl-6">

        <div class="comment-form__input-box">
          <select formControlName="staff_id" >
            <option value="" hidden disabled selected>Do you drive?</option>
            <option value="1">Yes</option>
            <option value="2">No</option>

            <!-- <input type="date" placeholder="Choose Date" name="date"> -->
            <div class="comment-form__icon">
              <i class="far fa-chevron-down"></i>
            </div>
          </select>

        </div>
      </div>

      <div class="col-xl-6">

        <div class="comment-form__input-box">
          <select formControlName="staff_id" >
            <option value="" hidden disabled selected>Do you have access to a car?</option>
            <option value="1">Yes</option>
            <option value="2">No</option>
            <!-- <input type="date" placeholder="Choose Date" name="date"> -->
            <div class="comment-form__icon">
              <i class="far fa-chevron-down"></i>
            </div>
          </select>

        </div>
      </div>
    </div>


    <!-- Organization Details -->
    Organization Details*
    <div class="row">

      <div class="col-xl-6">

        <div class="comment-form__input-box">
          <input type="text" placeholder="Postcode" formControlName="postcode">
          <div class="comment-form__icon">
            <i class="far fa-map"></i>
          </div>
        </div>
      </div>
      <div class="col-xl-6">

        <div class="comment-form__input-box">
          <input type="text" placeholder="Postcode" formControlName="postcode">
          <div class="comment-form__icon">
            <i class="far fa-map"></i>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Organization Details -->



    <!-- Additional Information -->
    <div class="row">

      <div class="col-xl-12">
        <div class="comment-form__input-box" id="tnc">

          <!-- <input id="tnc1"  type="checkbox" id="scales" name="scales">
          <label id="tnc2"  for="scales"> &nbsp;&nbsp; By booking the service you agree to the Lifeline Recruitment booking Terms and Condition.</label> -->
          <!-- <label for="checkid"   style="word-wrap:break-word"> -->
          <input type="checkbox" id="checkid"  class="mb-1" type="checkbox" value="test" />&nbsp; By booking the service you agree to the Lifeline Recruitment booking <a href="" target="blank_"> <b>Terms and Condition</b></a>.
          <!-- </label> -->

        </div>
      </div>

    </div>
    <!-- End of Additional Information -->
    <!-- Additional Information -->
    <div class="row">

      <div class="col-xl-2">
        <button type="submit" class="thm-btn comment-form__btn">Submit</button>
      </div>
      <div class="col-xl-4">
        <button (click)="clear()" class="thm-btn comment-form__btn">Reset Form</button>
      </div>

    </div>
    <!-- End of Additional Information -->


  </form>
</div>
</div>
</div>
</div>
</section>
