<!--Page Header Start-->
<section class="page-header">

  <!-- /.page-header__bg -->
  <div class="page-header-shape-1"></div><!-- /.page-header-shape-1 -->
  <div class="page-header-shape-2"></div><!-- /.page-header-shape-2 -->
  <div class="page-header-shape-3"></div><!-- /.page-header-shape-3 -->

  <div class="container">
    <div class="page-header__inner">
      <ul class="thm-breadcrumb list-unstyled">
        <li>Fivercast Career</li>
      </ul>
      <h2>Early Sign Up</h2>
    </div>
  </div>
</section>
<!--Page Header End-->

<!--News One Start-->
<section class="news-one news-one__page">
  <div class="container">
    Please email us your following details to <a href="mailto:info@fivercast.com"
      class="text-primary">info@fivercast.com</a> and we will get back to you as soon as possible. <br /><br />
    <ul class="list-unstyled faq-one__list">
      <li>
        <div class="icon">
          <span class="icon-tick"></span>
        </div>
        <div class="text">
          <p>Full Name (Must be same in your bank account)</p>
        </div>
      </li>
      <li>
        <div class="icon">
          <span class="icon-tick"></span>
        </div>
        <div class="text">
          <p>Email</p>
        </div>
      </li>
      <li>
        <div class="icon">
          <span class="icon-tick"></span>
        </div>
        <div class="text">
          <p>Contact Number</p>
        </div>
      </li>
      <li>
        <div class="icon">
          <span class="icon-tick"></span>
        </div>
        <div class="text">
          <p>Address (Street, Postcode, City) </p>
        </div>
      </li>
      <li>
        <div class="icon">
          <span class="icon-tick"></span>
        </div>
        <div class="text">
          <p>Passport Copy</p>
        </div>
      </li>
      <li>
        <div class="icon">
          <span class="icon-tick"></span>
        </div>
        <div class="text">
          <p>NI Letter Copy</p>
        </div>
      </li>
      <li>
        <div class="icon">
          <span class="icon-tick"></span>
        </div>
        <div class="text">
          <p>Right to Work (VISA/BRP) Copy</p>
        </div>
      </li>
      <li>
        <div class="icon">
          <span class="icon-tick"></span>
        </div>
        <div class="text">
          <p>Bank Name</p>
        </div>
      </li>
      <li>
        <div class="icon">
          <span class="icon-tick"></span>
        </div>
        <div class="text">
          <p>Account Number</p>
        </div>
      </li>
      <li>
        <div class="icon">
          <span class="icon-tick"></span>
        </div>
        <div class="text">
          <p>Sort Code</p>
        </div>
      </li>
      <li>
        <div class="icon">
          <span class="icon-tick"></span>
        </div>
        <div class="text">
          <p>Do you have a private vehicle? (Yes/No)</p>
        </div>
      </li>
    </ul>
  </div>

</section>
